# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Python bytecode
__pycache__/
*.pyc

# Ignore environment files
.env
venv/

# Ignore data files that are large or can be regenerated
data/titanic.zip
data/malicious_phish.csv
